---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.svelte";

export const getStaticPaths = async () => {
  const saints = await getCollection("saints");

  return saints.map((saint) => ({
    params: { slug: saint.slug },
    props: saint,
  }));
};

type Props = CollectionEntry<"saints">;

const saint = Astro.props;
const {
  data: { lifetime, title },
  slug,
} = saint;
const { Content } = await saint.render();
---

<Layout title={`Saints for Us - ${title}`}>
  <BackButton />
  <div class="grid place-items-center lg:flex">
    <img
      src={`/images/${slug}.jpg`}
      class="rounded-2xl w-1/2 object-cover lg:w-1/2 lg:mx-8"
      alt=""
      transition:name={slug}
    />
    <div class="grid place-items-center w-full lg:place-items-start">
      <div class="text-2xl pt-4 pb-1 md:text-3xl text-center sm:text-left">
        {title}
      </div>
      <div class="text-lg text-center sm:text-xl">{`(${lifetime})`}</div>
      <div class="w-11/12 text-center py-6 lg:text-left">
        <Content />
      </div>
    </div>
  </div>
</Layout>
